* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

button {
    display: block;
    margin: 30px auto;
    border: 4px solid rgb(117, 185, 206);
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    width: 200px;
    background-color: rgb(117, 185, 206);
    min-height: 20px;
    margin: 0 auto;
    padding-top: 10px;
}

.currency-name {
    text-align: center;
    margin-top: 10px;
}

.currency-rate {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}